*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url(fonts/Raleway-Bold.woff);
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url(fonts/Raleway-Regular.woff);
}

body {
  width: 1100px;
  margin: 0 auto;
  align-items: center;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
